<div style='background-color: #e9ecef; padding-top: 1px; padding-bottom: 25px;'>
  <div style='background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px; margin-top: 30px;'>
    <table align='center' border='0' cellpadding='0' cellspacing='0' role='presentation'
      style='background:#ffffff;background-color:#ffffff;width:100%'>
      <tbody>
        <tr>
          <td style='direction:ltr;font-size:0px;padding:30px 30px 30px 30px;text-align:center'>

            <div style='margin:0px auto;max-width:590px'>
              <table align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%'>
                <tbody>
                  <tr>
                    <td style='direction:ltr;font-size:0px;padding:5px 5px 5px 5px;text-align:center'>

                      <div
                        style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%'>
                        <table border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top'
                          width='100%'>
                          <tbody>
                            <tr>
                              <td align='left' style='font-size:0px;padding:5px 5px 10px 5px;word-break:break-word'>
                                <div
                                  style="font-family:BinancePlex,Arial,PingFangSC-Regular,'Microsoft YaHei',sans-serif;font-size:20px;font-weight:900;line-height:25px;text-align:left;color:#000000">
                                  Confirm Your Email Address
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td align='left' style='font-size:0px;padding:5px 5px 5px 5px;word-break:break-word'>
                                <div
                                  style="font-family:BinancePlex,Arial,PingFangSC-Regular,'Microsoft YaHei',sans-serif;font-size:14px;line-height:20px;text-align:left;color:#000000">
                                  Your verification code
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td align='left'
                                style='background:#ffffff;font-size:0px;padding:5px 5px 5px 5px;word-break:break-word'
                                dir='ltr'>
                                <div
                                  style="font-family:BinancePlex,Arial,PingFangSC-Regular,'Microsoft YaHei',sans-serif;font-size:18px;line-height:30px;text-align:left;color:rgb(107,70,193)">
                                  <b>{{permission_code}}
                                  </b>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td align='left' style='font-size:0px;padding:5px 5px 5px 5px;word-break:break-word'>
                                <div
                                  style="font-family:BinancePlex,Arial,PingFangSC-Regular,'Microsoft YaHei',sans-serif;font-size:14px;line-height:20px;text-align:left;color:#000000">
                                  The verification code will be valid for 30 minutes. Please do not share this code with
                                  anyone.
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td align='left' style='font-size:0px;padding:5px 5px 5px 5px;word-break:break-word'>
                                <div
                                  style="font-family:BinancePlex,Arial,PingFangSC-Regular,'Microsoft YaHei',sans-serif;font-size:14px;line-height:20px;text-align:left;color:#000000">
                                  Or you can follow the link below to activate your account:
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td align='left' style='font-size:0px;padding:15px 5px 15px 5px;word-break:break-word'>
                                <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                  <tr>
                                    <td align='left'>
                                      <table border='0' cellpadding='0' cellspacing='0'>
                                        <tr>
                                          <td align='left' style='border-radius: 6px;'>
                                            <a href={{link}} target='_blank'
                                              style="display: inline-block; padding: 16px 36px; font-family: BinancePlex,Arial,PingFangSC-Regular,'Microsoft YaHei',sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px; background-color: rgb(107,70,193);">Activate
                                              your account</a>
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>

                            <tr>
                              <td align='left' style='font-size:0px;padding:5px 5px 5px 5px;word-break:break-word'>
                                <div
                                  style='font-family:BinancePlex,Arial,PingFangSC-Regular,Microsoft YaHei,sans-serif;font-size:14px;line-height:20px;text-align:left;color:rgb(128,90,213)'>
                                  <i>If you didn't create an account with
                                    <a href={{domain}}>{{app_name}}</a>, you can safely delete this email.<br />This is
                                    an automated message, please do not reply.&nbsp;
                                  </i>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>